/* .home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 10px;
    flex-wrap: wrap;
    padding-left: 3%;
    padding: 3%;
} */

.prim{
    margin-top: 20px;
}
.primary{
    margin-left: 50px;
    border-radius: 5px;
    width: 100px;
    height: 5vh;
    font-size: 15px;
    font-weight: bolder;
    border: none;
    background-color: aqua;
}
.button{
    margin-left: 10px;
    background-color: brown;
}

